#guifi td.nick, #guifi td.distance, #guifi td.radio, #guifi td.mode, #guifi td.contact, #guifi td.angle, #guifi td.azimuth, #guifi td.nodename, #guifi td.zonename, #guifi td.contact {
  text-decoration: none;
}



.ports .form-item {
  margin-top: 0em;
  margin-bottom: 0em;
}

.ports td {
  padding: 0em 0.5em;
}

.ports table {
  width: 0%;
}

.maintainer-item, .funder-item {
  margin-top: 0em;
  margin-bottom: 0em;
  border: 0em;
  float: left; 
}

.maintainer-item >  .form-item,
.funder-item >  .form-item {
  float: left; 
  margin-top: 0em;
  margin-bottom: 0em;
} 

.model-item > div.form-item {
  float: left; 
  margin-right: 0em;
}

.port-item > .fieldset-wrapper {
  float: none;
}

#guifi th.Online, td.Online, th.Working, td.Working, td.Up {
  background-color: #33FF00; color: black;
  text-decoration: none;
  text-align: right;
}
#guifi th.Reserved, td.Reserved {
  background-color: white; color: black;
  text-decoration: none;
  text-align: right;
}
#guifi th.Planned, td.Planned {
  background-color: #66ffff; color: black;
  text-decoration: none;
  text-align: right;
}
#guifi th.Building, td.Building {
  background-color: #ffff99; color: black;
  text-decoration: none;
  text-align: right;
}
#guifi th.Testing, td.Testing {
  background-color: #ff9900; color: black;
  text-decoration: none;
  text-align: right;
}
#guifi th.Offline, td.Offline, td.Down {
  background-color: #ff3300; color: black;
  text-decoration: none;
  text-align: right;
}
#guifi th.Dropped, td.Dropped {
  background-color: white; color: black;
  text-decoration: none;
  text-align: right;
}
#guifi th.Inactive, td.Inactive {
  background-color: #dddddd; color: black;
  text-decoration: none;
  text-align: right;
}
#guifi th.Online25, td.Online25, th.Working25, td.Working25, td.Up25 {
  background-color: #33FF00; color: black;
  text-decoration: none;
  text-align: right;
  width: 25%;
}
#guifi th.Planned25, td.Planned25 {
  background-color: #66ffff; color: black;
  text-decoration: none;
  text-align: right;
  width: 25%;
}
#guifi th.Building25, td.Building25 {
  background-color: #ffff99; color: black;
  text-decoration: none;
  text-align: right;
  width: 25%;
}
#guifi th.Testing25, td.Testing25 {
  background-color: #ff9900; color: black;
  text-decoration: none;
  text-align: right;
  width: 25%;
}
#guifi th.Offline25, td.Offline25, td.Down25 {
  background-color: #ff3300; color: black;
  text-decoration: none;
  text-align: right;
  width: 25%;
}
#guifi th.Dropped25, td.Dropped25 {
  background-color: white; color: black;
  text-decoration: none;
  text-align: right;
  width: 25%;
}
#guifi th.Inactive25, td.Inactive25 {
  background-color: #dddddd; color: black;
  text-decoration: none;
  text-align: right;
  width: 25%;
}
#guifi td.Total {
  background-color: white; color: black;
  text-decoration: bold;
  text-align: right;
}
#guifi td.map {
  padding: 0em;
}

#guifi td {
  padding-right: 0.5em;
  padding-left: 0.5em;
}
#guifi th {
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-right: 1em;
}

#guifi td.fullwidth, th.fullwidth {
  text-align: left;
  width: 100%;
}

#guifi td.quarterwidth, th.quarterwidth {
  width: 25%;
}

#guifi td.number, th.number {
  text-align: right;
}
#guifi tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}
#guifi tr.even {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

#guifi table.guifi_stats, td.num {
  text-align: right;
  font-size: 0.8em;
}
#guifi table.guifi_stats, td.kms {
  text-align: right;
}
#guifi table.guifi_stats, td.tnum {
  text-align: right;
  font-size: 0.8em;
  font-weight: bold;
}
#guifi table.guifi_stats, td.tkms {
  text-align: right;
  font-weight: bold;
}
/*
#guifi form.zone_form, div.form-item {
  float: left;
  margin-right: 1em;
}
*/
/* The main calendar widget.  DIV containing a table. */

div.calendar { position: relative; }

.calendar, .calendar table {
  border: 1px solid #556;
  font-size: 11px;
  color: #000;
  cursor: default;
  background: #eef;
  font-family: tahoma,verdana,sans-serif;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 2px;          /* Make the buttons seem like they're pressing */
}

.calendar .nav {
  background: #778 url(menuarrow.gif) no-repeat 100% 100%;
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  background: #fff;
  color: #000;
  padding: 2px;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
  background: #778;
  color: #fff;
}

.calendar thead .daynames { /* Row <TR> containing the day names */
  background: #bdf;
}

.calendar thead .name { /* Cells <TD> containing the day names */
  border-bottom: 1px solid #556;
  padding: 2px;
  text-align: center;
  color: #000;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #a66;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background-color: #aaf;
  color: #000;
  border: 1px solid #04f;
  padding: 1px;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  background-color: #77c;
  padding: 2px 0px 0px 2px;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  color: #456;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #bbb;
}
.calendar tbody .day.othermonth.oweekend {
  color: #fbb;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #bdf;
}

.calendar tbody .rowhilite td {
  background: #def;
}

.calendar tbody .rowhilite td.wn {
  background: #eef;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: #def;
  padding: 1px 3px 1px 1px;
  border: 1px solid #bbb;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #cde;
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected { /* Cell showing today date */
  font-weight: bold;
  border: 1px solid #000;
  padding: 1px 3px 1px 1px;
  background: #fff;
  color: #000;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #a66;
}

.calendar tbody td.today { /* Cell showing selected date */
  font-weight: bold;
  color: #00f;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
  background: #556;
  color: #fff;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  background: #fff;
  color: #445;
  border-top: 1px solid #556;
  padding: 1px;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #aaf;
  border: 1px solid #04f;
  color: #000;
  padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #77c;
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #655;
  background: #def;
  color: #000;
  font-size: 90%;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .hilite {
  background: #acf;
}

.calendar .combo .active {
  border-top: 1px solid #46a;
  border-bottom: 1px solid #46a;
  background: #eef;
  font-weight: bold;
}

.calendar td.time {
  border-top: 1px solid #000;
  padding: 1px 0px;
  text-align: center;
  background-color: #f4f0e8;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #889;
  font-weight: bold;
  background-color: #fff;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: #667;
  color: #fff;
}

.calendar td.time span.active {
  border-color: #f00;
  background-color: #000;
  color: #0f0;
}

.event-calendar table {
  font-size: 11px;
}
